<%= stylesheet_link_tag "me.css" %>

<h1>My name is Steven Zheng.</h1>
<p>I'm from Saratoga, California.</p>
<p>I'm a senior.</p>
<p>Fun fact: I used up all my fun facts in welcome on the glades.</p>
<p>Excited for the final project at the end of the class.</p>

<%= image_tag "me.jpg", :size => "1000x500"%>


